.dialogWrap {
  width: calc(100% - 48px);
}

.separator::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  width: 1px;
  background-color: #d9d9d9;
}

.badge::before {
  content: '';
  width: 6px;
  height: 6px;
  margin-right: 6px;
  border-radius: 50em;
  background-color: #5534DA;
}

.inputFile {
  display: none;
}